<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="../../styles/style.css">
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="../../scripts/classes/currency.js" type="module"></script>
        <script src="../../scripts/interest-calculator.js" type="module"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body class="component-body">
        <div class="interactive-card">
            <div class="amount-selector">
                <select class="currency-dropdown" id="currency"></select>
                <input type="number" id="principal"></input>
            </div>
            <div class="amount-selector">
                <select class="period-dropdown" id="period-type">
                    <option value="months">Months</option>
                    <option value="years">Years</option>
                </select>
                <input type="number" id="period"></input>
            </div>
            <div class="amount-selector">
                <h3>Total</h3>
                <p id="total"></p>
            </div>
            <p class="additional-info" id="interest-rate"></p>
        </div>
    </body>
</html>