@font-face {
    font-family: Aeonik Pro;
    src: url(../assets/fonts/aeonikpro-regular.woff2);
}

@font-face {
    font-family: Aeonik Pro;
    src: url(../assets/fonts/aeonikpro-medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Aeonik Pro;
    src: url(../assets/fonts/aeonikpro-black.woff2);
    font-weight: 900;
}

@font-face {
    font-family: Aeonik Pro Capitalised;
    src: url(../assets/fonts/aeonikpro-black-capitalised.woff2);
    font-weight: 900;
}

body {
    box-sizing: border-box;
    font-family: 'Aeonik Pro', sans-serif;
    padding-top: calc(1rem + 28px + 1rem + 3rem);
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.tablet {
    display: none;
}

.mobile {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #D7D7D7;
    background-color: #fff;
}

#inner-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem;
    gap: 2.5rem
}

#inner-nav-bar a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.menu-bar-icon {
    height: 28px;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.section-padded-content {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    gap: 2rem;
}

h1 {
    font-family: 'Aeonik Pro Capitalised', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    margin: 0;
}

#subheader {
    margin-bottom: 0.5rem;
}

.main-graphic {
    display: none;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 0 2rem;
}

.card {
    box-sizing: border-box;
    height: 250px;
    padding: 1.25rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem
}

.card .image-container {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card h5 {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    min-height: 2rem;
}

.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.overlay {
    position: fixed;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    background-color: #fff;
    border-radius: 20px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.overlay .close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.overlay-content-information {
    width: calc(60% - 0.5rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.overlay-content-information h2 {
    font-size: 2.5rem;
    font-family: 'Aeonik Pro Capitalised', sans-serif;
    font-weight: 900;
    margin: 0;
    white-space: pre-wrap;
}

.overlay-content-information iframe {
    border-width: 0;
}

.overlay-content-media {
    width: calc(40% - 0.5rem);
    min-height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .desktop {
        display: none;
    }

    .tablet {
        display: block;
    }

    section {
        gap: 1.5rem;
    }

    .section-padded-content {
        gap: 1.5rem;
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    #inner-nav-bar {
        gap: 1rem;
    }

    #cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .overlay-content-information {
        width: 100%;
    }

    .overlay-content-information h2 {
        width: calc(100% - 48px);
        font-size: 2rem;
    }

    .overlay-content-media {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .mobile {
        display: block;
    }

    .main-graphic {
        display: block;
        width: auto;
        height: 384px;
        object-fit: cover;
        margin-bottom: 2rem;
    }

    #cards {
        grid-template-columns: 1fr;
    }

    .bg-overlay {
        display: none;
    }

    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0px;
    }

    .overlay .close-button {
        top: 1rem;
        right: 1rem;
    }

    .overlay-content-information {
        padding: calc(1.5rem + 36px) 1.5rem 1.5rem;
    }

    .overlay-content-information h2 {
        width: 100%;
        font-size: 1.5rem;
    }
}

.spacer {
    flex: 1;
}

.icon-button-light {
    border: none;
    padding: none;
    background-color: transparent;
}

.button-light {
    background-color: #000;
    transition-property: background-color;
    transition-duration: 300ms;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}

.button-light:hover {
    background-color: #333;
}

.centered-button {
    margin: 0 auto;
}

/* For components */
.component-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0;
    height: auto;
}

.currency-dropdown {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    padding: 0.5rem;
    outline: none;
}

.amount-selector input {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.5rem;
    outline: none;
    text-align: right;
    width: 128px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}