<!-- This is more information on trading. -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trading Information</title>
        <link rel="stylesheet" type="text/css" href="../../styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="../../styles/style.css">
        <script src="https://unpkg.com/feather-icons"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body class="component-body-full">
        <p>Capital at risk. <a href="https://help.revolut.com/help/wealth/stocks/trading-stocks/trading-fees/what-fees-will-i-be-charged-for-my-trading/" target="_blank">Other fees may apply.</a></p>
        <script>
            feather.replace();
        </script>
    </body>
</html>